###############################################################################
#                   Config File für Orpheus Stundenplan                       #
###############################################################################

############ Dateinamen #######################################################

#Daten von der Website
Website_Daten =./data/sampleWebsite/

#Globalplan als xml
Globalplan_Xml =./data/stundenplan.xml

#Infotext auf jedem Lokalplan
Info =./data/info.tex

#Zwangszuweisungen der teilnehmer
Zwangszuweisungen =./data/zwangszuweisungen.xml

#Standardname für generierten Plan
Stundenplan_Out =./out/stundenplan

#Standardname für Globalplan-Tex
Globalplan_Tex =./out/Globalplan/Globalplan.tex

#Standardname für Lokalplan-Tex
Lokalplan_Tex =./out/Lokalplan/Lokalplan.tex

#Namensschilder Prefix (dort steht, wie die Namensschilder aussehen)
Namensschilder_Prefix =./data/NamensschildPrefix.tex

#Standardname für Namensschilder-Tex
Namensschilder_Tex =./out/Namensschilder/Namensschilder.tex

############ Randbedingungen für den Stundenplan ##############################

#Minimale Teilnehmerzahl pro Vortrag, Experiment, Exkursion
Minimale_Teilnehmerzahl = 3

#MaximaleTeilnehmerzahl Teilnehmerzahl pro Vortrag, Experiment, Exkursion
Maximale_Teilnehmerzahl = 28

# Ja, wenn Experimente bis zur Maximal möglichen Teilnehmerzahl (durch Raumgröße
# und Angabe beim Thema) aufgefüllt werden sollen
Experimente_fuellen = ja

#Nutze zwangszuweisungen
Nutze_Zwangszuweisungen = ja

#Nutze Voraussetzungen
#Voraussetzungen noch nicht implementiert
Nutze_Voraussetzungen = nein
